.aPage {
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 13px;
  background-color: #565656;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #e3a419; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5375cf; 
}