.titleContatti {
    font-size: 300%;
    margin: 0;
    margin-left: 15%;
    padding-top: 2%;
}



.subtitle {
    margin-left: 4%;
    margin-top: 0;
    padding-top: 15px;
}

.contattiBox {
    padding: 0 10%;
}

.refBoxContainer {
    display: inline-flex;
}

.refBox {
    margin: auto;
    margin-left: 20px;
}